In [65]:
import pandas as pd 

%matplotlib inline

import warnings
warnings.simplefilter(action='ignore')

import seaborn as sns #visualizations

import matplotlib.pyplot as plt #visualizations
plt.style.use('ggplot')

# stats
from scipy.stats import pearsonr
from scipy import stats
import numpy as np 

from sklearn.impute import SimpleImputer

pd.set_option('display.max_columns',100)
from scipy.stats import pearsonr

In [10]:
df = pd.read_csv('../data/IMDB/imdb.csv')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,quality
0,Color,James-Cameron,723,178,0,855,Joel-David-Moore,1000,760505847,Action|Adventure|Fantasy|Sci-Fi,CCH-Pounder,Avatar-,886204,4834,Wes-Studi,0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054,English,USA,PG-13,237000000,2009,936,7.9,1.78,33000,good
1,Color,Gore-Verbinski,302,169,563,1000,Orlando-Bloom,40000,309404152,Action|Adventure|Fantasy,Johnny-Depp,Pirates-of-the-Caribbean:-At-World's-End-,471220,48350,Jack-Davenport,0,goddess|marriage-ceremony|marriage-proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238,English,USA,PG-13,300000000,2007,5000,7.1,2.35,0,good
2,Color,Sam-Mendes,602,148,0,161,Rory-Kinnear,11000,200074175,Action|Adventure|Thriller,Christoph-Waltz,Spectre-,275868,11700,Stephanie-Sigman,1,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994,English,UK,PG-13,245000000,2015,393,6.8,2.35,85000,okay
3,Color,Christopher-Nolan,813,164,22000,23000,Christian-Bale,27000,448130642,Action|Thriller,Tom-Hardy,The-Dark-Knight-Rises-,1144337,106759,Joseph-Gordon-Levitt,0,deception|imprisonment|lawlessness|police-offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701,English,USA,PG-13,250000000,2012,23000,8.5,2.35,164000,very-good
4,?,Doug-Walker,?,?,131,?,Rob-Walker,131,?,Documentary,Doug-Walker,Star-Wars:-Episode-VII---The-Force-Awakens----...,8,143,?,0,?,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,?,?,?,?,?,?,12,7.1,?,0,good

In [8]:
# check column variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5029 entries, 0 to 5028
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5029 non-null   object
 1   director_name              5029 non-null   object
 2   num_critic_for_reviews     5029 non-null   object
 3   duration                   5029 non-null   object
 4   director_facebook_likes    5029 non-null   object
 5   actor_3_facebook_likes     5029 non-null   object
 6   actor_2_name               5029 non-null   object
 7   actor_1_facebook_likes     5029 non-null   object
 8   gross                      5029 non-null   object
 9   genres                     5029 non-null   object
 10  actor_1_name               5029 non-null   object
 11  movie_title                5029 non-null   object
 12  num_voted_users            5029 non-null   int64
 13  cast_total_facebook_likes  5029 non-null   int64
 14  actor_3_name               5029 non-null   object
 15  facenumber_in_poster       5029 non-null   object
 16  plot_keywords              5029 non-null   object
 17  movie_imdb_link            5029 non-null   object
 18  num_user_for_reviews       5029 non-null   object
 19  language                   5029 non-null   object
 20  country                    5029 non-null   object
 21  content_rating             5029 non-null   object
 22  budget                     5029 non-null   object
 23  title_year                 5029 non-null   object
 24  actor_2_facebook_likes     5029 non-null   object
 25  imdb_score                 5029 non-null   float64
 26  aspect_ratio               5029 non-null   object
 27  movie_facebook_likes       5029 non-null   int64
 28  quality                    5029 non-null   object
dtypes: float64(1), int64(3), object(25)
memory usage: 1.1+ MB

In [5]:
#check null column 
df.isnull().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
quality                      0
dtype: int64

In [7]:
df.describe(include='all')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,quality
count,5029,5029,5029,5029,5029,5029,5029,5029,5029,5029,...,5029,5029,5029,5029,5029,5029,5029.000000,5029,5029.000000,5029
unique,3,2389,529,192,435,907,3020,878,4029,914,...,48,65,19,435,92,916,NaN,23,NaN,5
top,Color,?,?,90,0,1000,Morgan-Freeman,1000,?,Drama,...,English,USA,R,?,2009,1000,NaN,2.35,NaN,okay
freq,4801,103,48,160,902,126,20,449,877,235,...,4692,3796,2117,487,260,309,NaN,2359,NaN,2774
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.441360,NaN,7536.179956,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.126039,NaN,19340.294288,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.600000,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.800000,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.600000,NaN,166.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.200000,NaN,3000.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.500000,NaN,349000.000000,NaN

In [17]:
# find all the ? 
result = {}
for col in df.columns:
    result[col] = sum(df[col]=='?')
result

{'color': 19,
 'director_name': 103,
 'num_critic_for_reviews': 48,
 'duration': 15,
 'director_facebook_likes': 103,
 'actor_3_facebook_likes': 23,
 'actor_2_name': 13,
 'actor_1_facebook_likes': 7,
 'gross': 877,
 'genres': 0,
 'actor_1_name': 7,
 'movie_title': 0,
 'num_voted_users': 0,
 'cast_total_facebook_likes': 0,
 'actor_3_name': 23,
 'facenumber_in_poster': 12,
 'plot_keywords': 151,
 'movie_imdb_link': 0,
 'num_user_for_reviews': 21,
 'language': 12,
 'country': 5,
 'content_rating': 297,
 'budget': 487,
 'title_year': 107,
 'actor_2_facebook_likes': 13,
 'imdb_score': 0,
 'aspect_ratio': 322,
 'movie_facebook_likes': 0,
 'quality': 0}

notes  
if you notice, there are (?) in many numeric columns. Such as num_critic_for_reviews duration director_facebook_likes actor_3_facebook_likes

In [32]:
numeric_columns = ['num_critic_for_reviews','duration','director_facebook_likes','actor_3_facebook_likes','actor_1_facebook_likes','gross','num_voted_users','cast_total_facebook_likes','facenumber_in_poster','num_user_for_reviews','budget','title_year','actor_2_facebook_likes','imdb_score','aspect_ratio','movie_facebook_likes']
categorical_columns = list(set(df.columns) - set(numeric_columns))

In [43]:
# replace ? => -1 in numeric columns 
for col in numeric_columns :
    df[col] = df[col].replace("?", -1).astype(float)

In [129]:
# https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer
imp = SimpleImputer(missing_values=-1, strategy='median')
imp_result = imp.fit_transform(df[numeric_columns])

imp2 = SimpleImputer(missing_values='?', strategy='most_frequent')
imp_result2 = imp2.fit_transform(df[categorical_columns])

# numeric
df_imp_num = pd.DataFrame(imp_result, columns= numeric_columns)
df_imp_cat = pd.DataFrame(imp_result2, columns= categorical_columns)
df_imp = pd.concat([df_imp_num, df_imp_cat],axis=1)

# compare correlation 
print ('before correlation : ',pearsonr(df['num_critic_for_reviews'], df['director_facebook_likes']))
print('after correlation : ',pearsonr(df_imp['num_critic_for_reviews'], df_imp['director_facebook_likes']))

before correlation :  (0.18458178511827408, 8.771449352158274e-40)
after correlation :  (0.18335609642273853, 2.8540613375980857e-39)

I guess, the impulation works well. As it can be seen from the correlation result (cmiiw)

In [131]:
df_imp['genres'] = df_imp['genres'].str.lower()
df_imp['genres_list'] = df_imp['genres'].apply(lambda x:x.split('|'))

In [132]:
df_imp['genres_list'] .head()

0    [action, adventure, fantasy, sci-fi]
1            [action, adventure, fantasy]
2           [action, adventure, thriller]
3                      [action, thriller]
4                           [documentary]
Name: genres_list, dtype: object

In [133]:
# tes = pd.get_dummies(pd.DataFrame(df_imp.genres_list.tolist()))
tes = pd.get_dummies(df_imp['genres_list'].apply(pd.Series),prefix = "genre")

In [150]:
pd.get_dummies(df_imp['genres_list'].explode())
# .groupby(df_imp.index).sum()

ValueError: Grouper and axis must be same length

In [148]:
df_imp.index

RangeIndex(start=0, stop=5029, step=1)

In [134]:
from collections import Counter
Counter(tes.columns)

Counter({'genre_action': 1,
         'genre_adventure': 2,
         'genre_animation': 3,
         'genre_biography': 3,
         'genre_comedy': 4,
         'genre_crime': 5,
         'genre_documentary': 3,
         'genre_drama': 5,
         'genre_family': 6,
         'genre_fantasy': 7,
         'genre_film-noir': 3,
         'genre_game-show': 1,
         'genre_history': 5,
         'genre_horror': 5,
         'genre_music': 6,
         'genre_musical': 7,
         'genre_mystery': 7,
         'genre_romance': 8,
         'genre_sci-fi': 7,
         'genre_thriller': 8,
         'genre_western': 6,
         'genre_news': 3,
         'genre_reality-tv': 2,
         'genre_short': 3,
         'genre_sport': 6,
         'genre_war': 6})

In [135]:
tes['genre_adventure']

      genre_adventure  genre_adventure
0                   0                1
1                   0                1
2                   0                1
3                   0                0
4                   0                0
...               ...              ...
5024                0                0
5025                0                0
5026                0                0
5027                0                0
5028                0                0

[5029 rows x 2 columns]